html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: 0;
}

.active-border {
  border-bottom: 2px solid #00695c;
}

a:hover {
  text-decoration: none !important;
}
