################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/eTm.Api/obj
/.vs
/Api/eTm.Api/.vs/eTm.Api
