<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <i class="material-icons">format_align_left</i>
      </button>
      <h1 class="example-app-name">eTm</h1>
      <span class="example-spacer"></span>

      <button mat-icon-button class="mr-5">
        <i class="material-icons">search</i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="mr-5">
          <a href="#" mat-list-item routerLink=".">
            <button mat-icon-button color="primary">
              <i class="material-icons">phone</i>
            </button>
            Mobile
          </a>
        </div>
        <div>
          <a href="#" mat-list-item routerLink=".">
            <button mat-icon-button color="primary">
              <i class="material-icons">personal_video</i>
            </button>
            Dth
          </a>
        </div>
        <div>
          <a href="#" mat-list-item routerLink=".">
            <button mat-icon-button color="primary">
              <i class="material-icons">power</i>
            </button>
            Electricity
          </a>
        </div>
        <div>
          <a href="#" mat-list-item routerLink=".">
            <button mat-icon-button color="primary">
              <i class="material-icons">local_gas_station</i>
            </button>
            Gas
          </a>
        </div>
        <div>
          <a href="#" mat-list-item routerLink=".">
            <button mat-icon-button color="primary">
              <i class="material-icons">directions_car</i>
            </button>
            FasTag
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-all-in-one (valueChange)="displayTask($event)"></app-all-in-one>
      <div class="d-flex shadow-lg py-3 mx-5 mt-1 bg-white rounded row">
        <app-prepaid *ngIf="recharge == 'prepaid'"></app-prepaid>
        <app-postpaid *ngIf="recharge == 'postpaid'"></app-postpaid>
        <app-dth *ngIf="recharge == 'dth'"></app-dth>
        <app-gas *ngIf="recharge == 'gas'"></app-gas>
        <app-electricity *ngIf="recharge == 'elec'"></app-electricity>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
