<div class="d-flex shadow-lg py-3 mx-5 bg-white rounded row">
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('prepaid')">
      <button mat-icon-button color="primary">
        <i class="material-icons">stay_current_portrait</i>
      </button>
      <div class="text-dark">
        <span class="active-border">Prepaid</span>
      </div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('postpaid')">
      <button mat-icon-button color="primary">
        <i class="material-icons">stay_current_portrait</i>
      </button>
      <div class="text-dark">Postpaid</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('dth')">
      <button mat-icon-button color="primary">
        <i class="material-icons">personal_video</i>
      </button>
      <div class="text-dark">Dth</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('elec')">
      <button mat-icon-button color="primary">
        <i class="material-icons">power</i>
      </button>
      <div class="text-dark">Electricity</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('gas')">
      <button mat-icon-button color="primary">
        <i class="material-icons">local_gas_station</i>
      </button>
      <div class="text-dark">Gas</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('flight')">
      <button mat-icon-button color="primary">
        <i class="material-icons">flight</i>
      </button>
      <div class="text-dark">Flight</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('fastag')">
      <button mat-icon-button color="primary">
        <i class="material-icons">directions_car</i>
      </button>
      <div class="text-dark">FasTag</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('trade')">
      <button mat-icon-button color="primary">
        <i class="material-icons">show_chart</i>
      </button>
      <div class="text-dark">Trade</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('broadband')">
      <button mat-icon-button color="primary">
        <i class="material-icons">wifi</i>
      </button>
      <div class="text-dark">Broadband</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('metro')">
      <button mat-icon-button color="primary">
        <i class="material-icons">train</i>
      </button>
      <div class="text-dark">Metro</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('etmmoney')">
      <button mat-icon-button color="primary">
        <i class="material-icons">account_balance</i>
      </button>
      <div class="text-dark">eTm Money</div>
    </a>
  </div>
  <div class="col-1 text-center">
    <a href="#" mat-list-item routerLink="." (click)="onClick('more')">
      <button mat-icon-button color="primary">
        <i class="material-icons">more_vert</i>
      </button>
      <div class="text-dark">More</div>
    </a>
  </div>
</div>
